/* GENERAL */
*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Playfair Display', serif;
    
}

html {
    scroll-behavior: smooth;
}

/*background-color: rgba(221,207,200,255) !important;  /////Couleur beige agréable pour alterner en couleur de fond de section */


/* MENU */
.perso_bgBlack { /* Background-color navbar */
    background-color: rgba(59,14,17,255) !important;
}

.nav-link { /* Couleur jaune des liens navbar */
    color: rgba(227,191,45,255) !important;
    font-size: 20px;
}

.nav-link:hover {
    color: rgba(224,121,28,255) !important;
}


/* CAROUSSEL */


.perso_colorYellow { /* Couleur du titre des sections */
    color: black !important;
}
